# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/apollo-build/node_modules
/redux-build/node_modules
/apollo-build/.pnp
/redux-build//.pnp
/apollo-build/.pnp.js
/redux-build/.pnp.js

# testing
/redux-build/coverage
/apollo-build/coverage

# production
/redux-build/build
/apollo-build/build

# misc
/redux-build/.DS_Store
/apollo-build/.DS_Store
/redux-build/.env.local
/apollo-build/.env.local
/redux-build/.env.development.local
/apollo-build/.env.development.local
/redux-build/.env.test.local
/apollo-build/.env.test.local
/redux-build/.env.production.local
/apollo-build/.env.production.local

/redux-build/npm-debug.log*
/apollo-build/npm-debug.log*
/redux-build/yarn-debug.log*
/apollo-build/yarn-debug.log*
/redux-build/yarn-error.log*
/apollo-build/yarn-error.log*
