.hero-section {
  padding-top: 55px;
}

.hero-section .hero-text {
  padding-top: 184px;
}

.hero-section .hero-text span {
  font-size: 16px;
  color: #f44949;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hero-section .hero-text h2 {
  font-size: 60px;
  color: #ffffff;
  line-height: 72px;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 35px;
}
